@typeparam TItem

<div id="@_htmlId"
     class="di_common_treeview"
     tabindex="-1"
     @onclick="HandleOnClick"
     @onkeydown="HandleOnKeyDown"
     @onfocus="HandleOnFocus"
     @onblur="HandleOnBlur"
     @oncontextmenu="HandleOnContextMenu"
     @oncontextmenu:preventDefault="true">
    
    <div class="@CaretRowCssClass" style="height: @(_lineHeight)px; top: @(_caretRowTop)px;">
    </div>
    
    @{ var top = 0; }
    
    @foreach (var number in _numberList)
    {
        <div class="di_common_treeview-node" style="height: @(_lineHeight)px; top: @(top)px;">
            @number
        </div>
        
        top += _lineHeight;
    }
    
    @if (_showContextMenu)
    {
        <div class="di_common_treeview-context-menu" style="top: @(_caretRowTop + _lineHeight)px;">
            @_contextMenuTarget
        </div>
    }
    
</div>